apiVersion: v1
kind: Service
metadata:
  name: voltrico-api-gateway
spec:
  selector:
    app: voltrico-api-gateway
  ports:
    - port: {{ .Values.apiGateway.port }}
      targetPort: {{ .Values.apiGateway.port }}
  type: ClusterIP
