apiVersion: v1
kind: ConfigMap
metadata:
  name: cart-config
data:
  PORT: {{ .Values.cart.port | quote }}
  DB_CONNECTION: "mongodb://mongo-db:27017/voltrico-cart"
  NOTIFICATIONS_QUEUE: "NOTIFICATIONS_QUEUE"
