apiVersion: v1
kind: Service
metadata:
  name: voltrico-cart-service
spec:
  selector:
    app: voltrico-cart-service
  ports:
    - port: {{ .Values.cart.port }}
      targetPort: {{ .Values.cart.port }}
  type: ClusterIP
