@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'VoltricoFont';
  src: url('/fonts/Roboto-Regular.ttf') format('ttf');       
  font-weight: normal; 
  font-style: normal;
}

/* General styles */

#root {
  --font-family: 'VoltricoFont', sans-serif;
  --bar-color: #23384d;
  --nav-item-color: #ffc954;
}

html {
  overflow-y: scroll;  
}

html, body {
  font-family: 'VoltricoFont', sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
}

/* Footer styling */
.footer {
  background-color: var(--bar-color);  
  text-align: center;
  padding: 10px 0;
  width: 100%;
}