# IDE specific
.vscode/
.idea/
*.iml

# Environment files
*.env
*.pem

#node
node_modules/
dist/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Miscellaneous
*.class
*.log
*.pyc
*.tgz
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
