services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.4
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
  
  mongo-db:
    image: mongo:6
    container_name: mongo-db
    ports:
      - "27017:27017"
    volumes:
      - mongo-db-data:/data/db
  
  order-db:
    image: postgres:16
    container_name: order-db
    environment:
      POSTGRES_DB: ${ORDER_DB_NAME}
      POSTGRES_USER: ${ORDER_DB_USER}
      POSTGRES_PASSWORD: ${ORDER_DB_PASSWORD}
    ports:
      - "5434:5432"
    volumes:
      - order-db-data:/var/lib/postgresql/data

  inventory-db:
    image: postgres:16
    container_name: inventory-db
    environment:
      POSTGRES_DB: ${INVENTORY_DB_NAME}
      POSTGRES_USER: ${INVENTORY_DB_USER}
      POSTGRES_PASSWORD: ${INVENTORY_DB_PASSWORD}
    ports:
      - "5435:5432"
    volumes:
      - inventory-db-data:/var/lib/postgresql/data

  user-service:
    build:
      context: .
      dockerfile: services/user/Dockerfile
    environment:
          PORT: ${USER_SERVICE_PORT}
          DB_CONNECTION: ${USER_DB_CONNECTION}
          TOKEN_SECRET: ${TOKEN_SECRET}
          TOKEN_EXPIRES: ${TOKEN_EXPIRES}
          REFRESH_TOKEN_EXPIRES: ${REFRESH_TOKEN_EXPIRES}          
          GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
          RABBITMQ_URL: ${RABBITMQ_URL}
          NOTIFICATIONS_QUEUE: ${NOTIFICATIONS_QUEUE}
    depends_on:
      - rabbitmq
      - mongo-db

  product-service:
    build:
      context: .
      dockerfile: services/product/Dockerfile
    environment:
      PORT: ${PRODUCT_SERVICE_PORT}
      DB_CONNECTION: ${PRODUCT_DB_CONNECTION}
      RABBITMQ_URL: ${RABBITMQ_URL}      
    depends_on:
      - rabbitmq
      - mongo-db

  order-service:
    build:
      context: .
      dockerfile: services/order/Dockerfile
    environment:
      PORT: ${ORDER_SERVICE_PORT}
      DB_HOST: ${ORDER_DB_HOST}
      DB_PORT: ${ORDER_DB_PORT}
      DB_USER: ${ORDER_DB_USER}
      DB_PASSWORD: ${ORDER_DB_PASSWORD}
      DB_NAME: ${ORDER_DB_NAME}
      RABBITMQ_URL: ${RABBITMQ_URL}
    depends_on:
      - rabbitmq
      - order-db 
  
  inventory-service:
    build:
      context: .
      dockerfile: services/inventory/Dockerfile
    environment:
      PORT: ${INVENTORY_SERVICE_PORT}
      DB_HOST: ${INVENTORY_DB_HOST}
      DB_PORT: ${INVENTORY_DB_PORT}
      DB_USER: ${INVENTORY_DB_USER}
      DB_PASSWORD: ${INVENTORY_DB_PASSWORD}
      DB_NAME: ${INVENTORY_DB_NAME}
      RABBITMQ_URL: ${RABBITMQ_URL}
    depends_on:
      - rabbitmq
      - inventory-db
  
  search-service:
    build:
      context: .
      dockerfile: services/search/Dockerfile
    environment:
      PORT: ${SEARCH_SERVICE_PORT}
      ELASTIC_URL: ${ELASTIC_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
    depends_on:
      - rabbitmq
      - elasticsearch

  api-gateway:
    build: ./api-gateway
    ports:
      - "${API_GATEWAY_PORT}:3000"
    depends_on:
      - user-service
      - product-service
      - order-service
      - inventory-service
    
  frontend:
    build: ./frontend   
    environment:
      NEXT_PUBLIC_BACKEND_URL: ${NEXT_PUBLIC_BACKEND_URL}
      NEXT_PUBLIC_GOOGLE_CLIENT_ID: ${NEXT_PUBLIC_GOOGLE_CLIENT_ID}
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - api-gateway

volumes:
  mongo-db-data:
  order-db-data:
  inventory-db-data:  
  elasticsearch-data: