/* General Styles */
body {
  background-color: #edf4fd;
  margin: 0;
  padding: 0;
}

/* Search Dropdown */
.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 100%;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto; 
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: #212529;
  transition: background-color 0.3s;
}

.search-result-item:hover {
  background-color: #f8f9fa;
}

.search-result-image {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 5px;
}

/* Navigation Menu */
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.nav-item {
  margin: 0 10px;
  color: var(--nav-item-color);
}

.nav-item a:hover {
  color: var(--nav-item-color);
}

/* Profile Dropdown */
.account-dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.account-dropdown .dropdown-menu {
  width: 250px;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.account-dropdown .dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #212529;
  text-decoration: none;
  transition: background-color 0.3s;
}

.account-dropdown .dropdown-item:hover {
  background-color: #e4e4e4;
  color: black;
}

.account-dropdown .dropdown-item strong {
  margin-left: 10px;
  font-weight: bold;
}

.account-dropdown .dropdown-divider {
  margin: 10px 0;
  border-top: 1px solid #e9ecef;
}

/* Remove Dropdown Arrow */
.account-dropdown .dropdown-toggle::after {
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    padding: 10px 15px;
  }  

  .search-bar {
    margin: 10px 0;
    width: 100%;
    max-width: none;
  }

  .nav-menu {
    justify-content: center;
    width: 100%;
  }

  .nav-item {
    margin: 5px;
  }
}