div {
    font-family: 'AREAFont', sans-serif;
  }
  
  .shop-item-container {    
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
  }
  
  .shop-item {
      font-family: 'AREAFont', sans-serif;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      height: 500px;
      width: 200px;
      text-align: center;
      background: #fff;
      display: flex;
      flex-direction: column;
      position: relative;
  }
  
  .shop-item p {    
      margin: 5px 0;   
  }
  
  .shop-item img {    
      height: 200px;
      width: 200px;
      object-fit: contain; 
      object-position: center;
      border-radius: 5px;
      margin-bottom: 10px;
  }
  
  .shop-item h3 {
      margin-top: 20px;
      height: 65px;    
  }
  
  .shop-item h4 {
    font-size: 24px;
    margin: 5px 0;    
  }
  
  .shop-item button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      margin-top: auto;
  }
  
  .shop-item img:hover {
      transform: scale(1.1);
  }
  
  .description-popup {
      display: none;
      position: absolute;
      height: fit-content;
      left: 100px;
      bottom: 200px;
      transform: translateX(-50%);
      background-color: #34495e;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      width: 200px;
      text-align: left;
      z-index: 10;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      transition: opacity 0.3s ease;
  }
  
  .shop-item:hover .description-popup {
      display: block;
      opacity: 1;
  }
  
  .shop-item button.view-details {
      background: transparent;
      border: none;
      content: url('/icons/details.png');
      padding: 0;
      cursor: pointer;
      position: relative;
      width: 24px; 
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .category-buttons {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
    }
    
    .category-btn {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      border: none;
      background-color: #f0f0f0;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-size: 16px;
    }
    
    .category-btn img {
      margin-right: 8px;
      width: 24px;
      height: 24px;
    }
    
    .category-btn:hover {
      background-color: #e0e0e0;
    }
  
    .cart-button {
      font-size: 16px;  
      display: flex;
      align-items: center;
      padding: 5px 10px;
      border: none;
      background-color: #fff;    
    }
    
    .cart-button img {    
      height: 20px;
      width: 20px;    
      margin-left: 20px;
      margin-right: 10px;   
      margin-top: 5px;
    }
  
    .cart-button:hover {
      background-color: #154c83;
    }