/* CSS for Navbar */
body {
    background-color: #edf4fd;    
}
 
.nav-logo {
    display: flex;
    align-items: center;
    justify-content: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-logo a img {
    height: 30px;
    margin-left: 0;
}

.nav-logo a {
    color: #1c93f5; 
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;    
    text-decoration:none; 
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #34495e;
    padding: 10px 20px;
}

.nav-item.hidden {
    display: none;
}

.nav-item.visible {
    display: inline-block;
}

/* Navigation list */
.nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Skip to content link */
.nav-list .skip-to-content a { 
    position: absolute;
    left: -9999px;
    top: 0;
    width: auto; 
    height: auto;
    overflow: hidden;
    background: #ffc107; 
    color: #000;
    padding: 15px 30px;
    text-align: center; 
    border: 1px solid #ffc107;
    border-radius: 4px; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: left 0.3s ease, opacity 0.3s ease;
    opacity: 0;  
}

.nav-list .skip-to-content a:focus {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    width: auto;
    height: auto;
    overflow: visible;
    z-index: 1000;
    opacity: 1; 
}

/* Navigation list items */
.nav-list li {
    margin-left: 20px; 
}

.nav-list li:not(.logo) {
    margin-left: 0; 
}

/* Navigation links */
.nav-list a {
    color: white; 
    text-decoration: none; 
    display: flex;
    align-items: center;
}

/* Icon within navigation link */
.nav-list img {
    margin-right: 8px; 
    width: 24px; 
    height: 24px; 
    border-radius: 4px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Navigation bar item */
ul li {
    display: inline-block; 
    margin-right: 20px;
}

/* Navigation bar button */
ul li a {
    color: #ffd92d;
    height: 24px;
    font-family: arial, sans-serif;
    text-decoration: none; 
    transition: background-color 0.3s;
}

/* Navigation bar button icon */
ul li a img {
    vertical-align: middle;
    height: 24px;
    width: relative;
    margin-right: 8px;
}

/* Navigation bar button hover */
ul li a:hover {
    background-color: #2c3e50;
    border-radius: 5px; 
}

/* Optional: Active link styling */
ul li.active a {
    background-color: #2c3e50;
}

.cartItemCountDisplay {
    color: #ffd92d;
} 

/* Search bar */
.search-bar {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

/* Search bar input text */
.search-bar input[type="text"] {
    padding: 8px;
    font-size: 24px;
    border: 1px solid #ccc;
    
    height: 24px;
    width: 800px; 
}

/* Search bar button */
.search-bar button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: #dfb600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40px; 
    height: 40px;
}

/* Search bar button image */
.search-bar button img {
    width: 24px; 
    height: 24px;
    display: block;
}

/* Advanced search button */
.advanced-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: #dfb600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 24px; 
    height: 24px;
    margin-left: 3px;    
}

/* Search bar button image */
.advanced-search-button img {
    width: 32px; 
    height: relative;
    display: block;
}

/* Tooltip container */
.tooltip-container {
    position: relative;
    display: inline-block;    
  }
  
  /* Tooltip text */
  .tooltip-text {
    font-family: Arial, sans-serif;
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Show tooltip on hover */
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  .searchButton {
    background: none;
    border: none;
    cursor: pointer;
}