apiVersion: v1
kind: Service
metadata:
  name: voltrico-search-service
spec:
  selector:
    app: voltrico-search-service
  ports:
    - port: {{ .Values.search.port }}
      targetPort: {{ .Values.search.port }}
  type: ClusterIP
