apiVersion: apps/v1
kind: Deployment
metadata:
  name: search-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: search-service
  template:
    metadata:
      labels:
        app: search-service
    spec:
      containers:
        - name: search-service
          image: myregistry/search-service:latest
          ports:
            - containerPort: 3007
          envFrom:
            - configMapRef:
                name: search-service-config
            - secretRef:
                name: search-service-secrets
