apiVersion: v1
kind: ConfigMap
metadata:
  name: web-config
data:
  NEXT_PUBLIC_BACKEND_URL: "https://voltrico.local"
  NEXT_PUBLIC_GOOGLE_CLIENT_ID: {{ .Values.secrets.user.googleClientId | quote }}
  WEB_PORT: {{ .Values.web.port | quote }}
