apiVersion: v1
kind: Service
metadata:
  name: voltrico-web
spec:
  selector:
    app: voltrico-web
  ports:
    - port: {{ .Values.web.port }}
      targetPort: {{ .Values.web.containerPort }}
  type: ClusterIP
