apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
stringData:
  username: {{ .Values.secrets.order.dbUser | quote }}
  password: {{ .Values.secrets.order.dbPassword | quote }}
