apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: myregistry/product-service:latest
          ports:
            - containerPort: 3003
          envFrom:
            - configMapRef:
                name: product-service-config
            - secretRef:
                name: product-service-secrets
