apiVersion: v1
kind: Service
metadata:
  name: voltrico-product-service
spec:
  selector:
    app: voltrico-product-service
  ports:
    - port: {{ .Values.product.port }}
      targetPort: {{ .Values.product.port }}
  type: ClusterIP
