apiVersion: v1
kind: ConfigMap
metadata:
  name: cart-config
data:
  PORT: {{ .Values.cart.port | quote }}
  DB_CONNECTION: "mongodb://mongo-db:27017/voltrico-cart"
  NOTIFICATIONS_QUEUE: "NOTIFICATIONS_QUEUE"
---
apiVersion: v1
kind: Service
metadata:
  name: voltrico-cart-service
spec:
  selector:
    app: voltrico-cart-service
  ports:
    - port: {{ .Values.cart.port }}
      targetPort: {{ .Values.cart.port }}
  type: ClusterIP
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: product-config
data:
  PORT: {{ .Values.product.port | quote }}
  DB_CONNECTION: "mongodb://mongo-db:27017/voltrico-products"
---
apiVersion: v1
kind: Service
metadata:
  name: voltrico-product-service
spec:
  selector:
    app: voltrico-product-service
  ports:
    - port: {{ .Values.product.port }}
      targetPort: {{ .Values.product.port }}
  type: ClusterIP
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: search-config
data:
  PORT: {{ .Values.search.port | quote }}
  ELASTIC_URL: "http://elasticsearch:9200"
---
apiVersion: v1
kind: Service
metadata:
  name: voltrico-search-service
spec:
  selector:
    app: voltrico-search-service
  ports:
    - port: {{ .Values.search.port }}
      targetPort: {{ .Values.search.port }}
  type: ClusterIP
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-config
data:
  API_GATEWAY_PORT: {{ .Values.apiGateway.port | quote }}
  USER_SERVICE_URL: "http://voltrico-user-service:3002"
  PRODUCT_SERVICE_URL: "http://voltrico-product-service:3003"
  CART_SERVICE_URL: "http://voltrico-cart-service:3004"
  ORDER_SERVICE_URL: "http://voltrico-order-service:3005"
  INVENTORY_SERVICE_URL: "http://voltrico-inventory-service:3006"
  SEARCH_SERVICE_URL: "http://voltrico-search-service:3007"
  CORS_ORIGIN: "https://voltrico.local"
---
apiVersion: v1
kind: Service
metadata:
  name: voltrico-api-gateway
spec:
  selector:
    app: voltrico-api-gateway
  ports:
    - port: {{ .Values.apiGateway.port }}
      targetPort: {{ .Values.apiGateway.port }}
  type: ClusterIP
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: web-config
data:
  NEXT_PUBLIC_BACKEND_URL: "https://voltrico.local"
  NEXT_PUBLIC_GOOGLE_CLIENT_ID: {{ .Values.secrets.user.googleClientId | quote }}
  WEB_PORT: {{ .Values.web.port | quote }}
---
apiVersion: v1
kind: Service
metadata:
  name: voltrico-web
spec:
  selector:
    app: voltrico-web
  ports:
    - port: {{ .Values.web.port }}
      targetPort: {{ .Values.web.containerPort }}
  type: ClusterIP